@import url(https://fonts.googleapis.com/css?family=Nunito);html,
body {
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

div .mu-pagination {
  justify-content: center;
}

div .mu-appbar {
  background-color: #2196f3 !important;
}

.mu-bottom-item-active .mu-bottom-item-icon,
.mu-bottom-item-active .mu-bottom-item-text {
  color: #2196f3 !important;
}

.demo-raised-button {
  background-color: #2196f3 !important;
  color: #fff !important;
}

